* { 
	font-family: arial, sans-serif;
}
body {
	background-color: #222;
	margin: 20px;
}
h1, h2, h3, h4, p {
	color: #fff;
}
#wrapper {
	width: 100%;
	height: 100%;
}
#menubar {
	height: 50px;
	width: 100%;
	display: inline-block;
	background-color: #535353;
	margin-bottom: 5px;
}
#menubar a {
	text-decoration: none;
	color: #c3c3c3;
	font-weight: bold;
	margin-left: 20px;
}
.logout {
	float: right;
	margin-right: 20px;
}
.channel {
	width: 100%;
	height: 200px;
	display: inline-block;
	border: 1px solid #aaa;
}
.image {
	display: inline-block;
}
.text {
	vertical-align: top;
	display: inline-block;
	padding: 10px;
}
.text a {
	text-decoration: none;
	color: #fff;
}
#menubar a:hover {
	color: #FF530D;
}
a:hover {
	color: #FF530D;
}
.error{
	padding: 5px;
	text-align: center;
	width: 35%;
	color: white;
	background-color: red;
	margin-bottom: 20px;
}
.hide {
	display: none;
}
span {
	cursor: pointer;
}
.block{
	text-align: center;
	width: 30%;
	display: inline-block;
	border: 1px solid #666;
	vertical-align: top;
	padding: 20px;
	color: #fff;
}
.block input {
	padding: 2px;
	margin: 5px;
}
.block form {
	text-align: left;
}
#stream {
	display: inline-block;
	vertical-align: top;
}
#chat {
	width: 420px;
	height: 720px;
	background-color: #535353;
	display: inline-block;
	position: relative;
	color: #fff;
}
#comments {
	width: 420px;
	height: 650px;
	display: inline-block;
	overflow: auto;
	position: absolute;
	top: 0;
}
#comments ul {
	list-style-type: none;
}
#comments a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;	
}
#new_message {
	width: 420px;
	height: 70px;
	float: bottom;
	position: absolute;
	bottom: 0;
	display: inline-block;
}
#new_message textarea {
	width: 330px;
	height: 60px;
	border-radius: 5px;
	margin-left: 5px;
}
.button {
	height: 35px;
	width: 100px;
	background: linear-gradient(#f29b5a, #ef7f2c);
	border-color: transparent;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	float: right;
	cursor: pointer;
}
.post {
	height: 35px;
	width: 70px;
	background: linear-gradient(#f29b5a, #ef7f2c);
	border-color: transparent;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 5px;
}
.comment {
	display: inline-block;
	margin-bottom: 3px;
}
.comment a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;	
	cursor: pointer;
}
