/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
*/

/* let's set some colors to variables so I can conveniently change them */
:root {
	--panel-color: rgba(155, 155, 155, 0.3);
	--button: #FF530D;
	--admin: #4ae38e;
	--orange: linear-gradient(#f29b5a, #ef7f2c);
	--purple: linear-gradient(#8570a7, #5c487e);
}
* { 
	font-family: arial, sans-serif;
}
body {
	background-image: url(footer_lodyas/footer_lodyas.png);
	margin: 20px;
}
h1, h2, h3, h4, p {
	color: #fff;
}
#menubar {
	height: 50px;
	width: 100%;
	display: inline-block;
	background-color: var(--panel-color);
	margin-bottom: 5px;
}
#menubar a {
	text-decoration: none;
	color: #c3c3c3;
	font-weight: bold;
	margin-left: 20px;
}
.logout {
	float: right;
	margin-right: 20px;
}
.channel {
	width: 100%;
	height: 200px;
	display: inline-block;
	background-color: var(--panel-color);
	margin: 5px;
}
.image {
	float: left;
	margin-right: 10px;
}
.text {
	vertical-align: top;
	padding: 0px 10px 5px;
}
.text a {
	text-decoration: none;
	color: #fff;
}
#menubar a:hover {
	color: #FF530D;
}
a:hover {
	color: #FF530D;
}
.hide {
	display: none;
}
span {
	cursor: pointer;
}
.block {
	padding: 10px;
	margin: 10px;
	background-color: var(--panel-color);
}
.error{
	padding: 5px;
	margin-top: 10px;
	text-align: center;
	width: 35%;
	color: white;
	background-color: red;
	margin-bottom: 20px;
}
#stream {
	display: inline-block;
	vertical-align: top;
}
#chat {
	width: 355px;
	height: 720px;
	display: inline-block;
	position: relative;
	color: #fff;
}
#comments {
	width: 355px;
	height: 650px;
	display: inline-block;
	overflow: auto;
	position: absolute;
	top: 0;
}
#comments ul {
	list-style-type: none;
}
#comments, ul, li {
	margin:0;
	padding:0;
}
#new_message {
	width: 350px;
	height: 70px;
	float: bottom;
	position: absolute;
	bottom: 0;
	display: inline-block;
}
.comment {
	padding: 5px;
	display: block;
	text-decoration: none;
	color: #fff;
}
.wrapper {
	text-align: center;
}
.admin {
	color: #4ae38e;
}
.clearfix {
	overflow: auto;
}
#new_comment {
	width: 290px;
}