<!-- Collapsible navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href=""><img class="logo" src="/assets/logos/logo-full.png" alt="Chat Channel" height="50"></a>
			</div>
			<div class="collapse navbar-collapse" id="nav">
				<ul class="nav navbar-nav">
					<li><a href="/"><span class="glyphicon glyphicon-home"></span> Main</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-user"></span> Your Profile<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<% if session[:user_id] %>
								<li><a href="/users/<%=session[:user_id]%>"> Your Profile</a></li>
								<li><a href="/users/<%= session[:user_id] %>/edit">Edit User</a></li>
								<% if @check.exists? %>
									<li><a href="/channels/<%= @check[0].id %>/edit">Edit Channel</a></li>
								<% else %>
									<li><a href="/channels/new">New Channel</a></li>
								<% end %>
							<% else %>
								<li><a href="/sessions/new">Profile</a></li>
							<% end %>
						</ul>
					<li><a href="/faq"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
					<li><a href="/blog"><span class="glyphicon glyphicon-comment"></span> Blog</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/admin"><span class="glyphicon glyphicon-stats"></span> Admin</a></li>
					<% if session[:user_id] %>
						<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					<% else %>
						<li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>

<h1>Extras#admin</h1>
<p>Find me in app/views/extras/admin.html.erb</p>
