<!DOCTYPE html>
<html>
<head>
	<title>Chatchannel</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<script type ="text/javascript" src="http://192.168.1.250:3001/socket.io/socket.io.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
	<%= yield %>
</div>

</body>
</html>